@import "tailwindcss";

@theme {
  --color-olimpo-azul: #378cc5;
  --color-olimpo-oro: #d4af37;
}

:root {
    /* Tus colores de siempre */
    --color-base: #378cc5;
    --color-nav:#436e8b;
    --color-destenido: #ffffff;
    --color-destenido-footer:#eef5fa;
    --color-boton-sombra:#0f3650;
    --color-boton-borde-botones-dioses:#040353;
    --color-footer:#83abf7;
    --fuente-texto-titulos:italic;
    --fuente-texto:'Times New Roman', Times, serif;
    --color-borde-tareas:solid #040353;
    --color-paginas-libro:#6d5034;
    --color-paginas-libro-back:#cfb89a;
    --color-borde-plata:#C0C0C0;
    --color-dorado:#FFD700;
    --color-black:#000000;
    --color-fondo-tareas:rgba(67, 148, 223, 0.2);
    --color-fondo-tareas-añadidas:rgba(67, 148, 223, 0.2);
    --color-placeholder:#000000;
    --sombra-body: 0 0 10px #fff, 0 0 20px #838183, 0 0 30px #4d4c4c;
    --color-titulo-principal:#000000;
    --color-texto-introduccion-tareas:rgba(116, 181, 235, 0.1);
    --color-boton-añadir-tarea:#441cd1;
    --color-boton-añadir-tarea-hover:#06213f;
    --modo-dia:inline;
    --modo-dark:none;
}

/* AQUÍ ESTÁ EL TRUCO: Sobreescribimos las variables cuando hay modo oscuro */
.dark {
    --color-base: #000000;
    --color-nav:#2f3235;
    --color-destenido: #616161;
    --color-destenido-footer:#4e4e4e;
    --color-boton-sombra:#0f3650;
    --color-boton-borde-botones-dioses:#040353;
    --color-footer:#333435;
    --fuente-texto-titulos:italic;
    --fuente-texto:'Times New Roman', Times, serif;
    --color-borde-tareas:solid #000000;
    --color-paginas-libro:#6d5034;
    --color-paginas-libro-back:#cfb89a;
    --color-borde-plata:#C0C0C0;
    --color-dorado:#8b8b8b;
    --color-black:#000000; 

    --color-fondo-tareas:rgb(250, 250, 250);
    --color-fondo-tareas-añadidas:#4e4e4e;
    --color-placeholder:#000000;
    --sombra-body: 0 0 10px #fff, 0 0 20px #838183, 0 0 30px #4d4c4c;
    --color-titulo-principal:#ffffff;
    --color-texto-introduccion-tareas:rgb(180, 180, 180);
    --color-boton-añadir-tarea:#9b9b9b;
    --color-boton-añadir-tarea-hover:#06213f;
    --modo-dia:none;
    --modo-dark:inline;
}

@layer base{
    body{
        background: linear-gradient(to bottom,var(--color-base), var(--color-destenido));
        border: 3px solid var(--color-borde-plata);
        box-shadow: var(--sombra-body);
        @apply transition-all duration-500 ease-in-out;
    }
}
@layer components{
    header{
    margin: 3%;
    text-align: center;
        
    border-radius: 8px;
    }

    nav{
        display: flex;
        justify-content:space-around;
        padding: 0.6%;
        border-radius: 60px;
        background-color: var(--color-nav);
        box-shadow: 2px 2px 4px var(--color-black);
        background-repeat: no-repeat;
        max-height: 20%;
        margin-left: 10%;
        margin-right: 10%;
        color: var(--color-titulo-principal);
    }

    main{
        
        margin: 2%;
    }

    .infoLibro{
        display: flex;
        align-items: flex-start;
        width: 100%;
        gap: 10%;
        
        border-radius: 8px;
    }

    aside{     
        min-width: 30%;
        position: sticky;
        top: 2px;
    }

    .contenedorBotones{
        margin-left: 5px ;
        padding: 10px;
        max-width: 50%;
        background: var(--color-footer) transparent; 
        border: 2px solid var(--color-borde-plata);        
        border-radius: 10px;
        box-shadow: 5px 5px 15px var(--color-black);
    }

    .contenedorLibro{
        margin-top: 5px;
        margin-bottom: 5px;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        align-items: center;
        width: 60vh;
        height: 80vh;
        perspective: 1500px;
    }
    .libro{
        width: 100%;       
        height: 100%;      
        position:fixed;
        transform-style: preserve-3d;
        
    }

    .pagina {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 2px 15px 15px 2px;
        border: 2px var(--color-black);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        transform-style: preserve-3d;
        transition: transform 1s;
        transform-origin: left;       
        z-index: 1;
        box-shadow: 10px 10px var(--color-black);
        z-index: calc(20 - var(--i, 0));
    }

    .frente, .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden; 
        overflow: hidden; 
        border-radius: 15px 2px 2px 15px;
        border: 2px var(--color-black);
        text-align: center;
        justify-content: center;
        align-items: center;
        justify-self: center;
    }


    .back {
        transform: rotateY(180deg);
        background-color: var(--color-paginas-libro-back); 
        border: 2px solid var(--color-black);
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
    }

    .paginaPortada{
        z-index: 20;
    }.paginaPortada .frente{
        background-image: url('imagenes/imgSection/portadaLibro.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
    }.paginaPortada .back{
        background-color: var(--color-paginas-libro-back);
    }
    .paginaIndex{
        justify-content: center;
        align-items: center;
        z-index: 13;
        background-color: var(--color-paginas-libro);
    } 
    .pagina .frente{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .paginaZeus{
        justify-content: center;
        align-items: center;
        z-index: 12;
        background-color: var(--color-paginas-libro)
    }
    .paginaHera{
        justify-content: center;
        align-items: center;
        z-index: 11;
        background-color: var(--color-paginas-libro)
    }
    .paginaPoseidon{
        justify-content: center;align-items: center;
        z-index: 10;
        background-color: var(--color-paginas-libro)
    }
    .paginaApolo{
        justify-content: center;align-items: center;
        z-index: 9;
        background-color: var(--color-paginas-libro)
    }
    .paginaDemeter{
        justify-content: center;align-items: center;
        z-index: 8;
        background-color: var(--color-paginas-libro)
    }
    .paginaArtemisa{
        justify-content: center;align-items: center;
        z-index: 7;
        background-color: var(--color-paginas-libro)
    }
    .paginaAres{
        justify-content: center;align-items: center;
        z-index: 6;
        background-color: var(--color-paginas-libro)
    }
    .paginaHermes{
        justify-content: center;align-items: center;
        z-index: 5;
        background-color: var(--color-paginas-libro)
    }
    .paginaAtenea{
        justify-content: center;align-items: center;
        z-index: 4;
        background-color: var(--color-paginas-libro)
    }
    .paginaAfrodita{
        justify-content: center;align-items: center;
        z-index: 3;
        background-color: var(--color-paginas-libro)
    }
    .paginaHefesto{
        justify-content: center;align-items: center;
        z-index: 2;
        background-color: var(--color-paginas-libro)
    }
    .paginaHestia{
        justify-content: center;align-items: center;
        z-index: 1;
        background-color: var(--color-paginas-libro)
    }


    .pagina.flipped {
        transform: rotateY(-180deg);
        z-index: calc(20 + var(--i, 0)) !important;
    }


    footer{
        background: linear-gradient(to bottom,var(--color-destenido-footer), var(--color-base));
        text-align: left;
        justify-content: flex-start;
        
        border-radius: 8px;
        padding: 5px;
        margin: 0;
    }

    .divFooter{
        margin: 10px;
        color: var(--color-titulo-principal);
    }




    .imgLibro{
        justify-content: center;

        max-height: 25vh;
        
    }


    .textoDefault{
        font-family: var(--fuente-texto);
        font-size: larger;
    }

    .titulo{
        text-align: center;
        font-style: var(--fuente-texto-titulos);
        font-size: xx-large;
    }
    #tituloPrincipal{
        color:var(--color-titulo-principal) ;
    }



    .botonesNav{
        background: linear-gradient(to right, var(--color-base), var(--color-destenido));
        padding: 12px 24px;
        border: 0;
        border-radius: 8px; 
        margin: 20px;

    }

    .botonesNav:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 20px var(--color-boton-sombra);
    }

    .botonesNav:active {
        transform: translateY(+2px);
    }

    .liStyle{
        margin-top:2px ;
        color: var(--color-titulo-principal);
    }
    .liStyle :hover{
        background:var(--color-dorado);
        transform: translateX(10px);
    }

    .botonesAside{
        width: 90%;
        background: transparent;
        border: 1px solid var(--color-borde-plata);
        border-radius: 20px;
        color: var(--color-titulo-principal);
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .imagenesAside{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid var(--color-borde-plata);
    }

    #imgPanteon2{
        max-width: 60%;
    }

    .imgFooter{
        max-height: 30px;
    }



    .registroTareas {
        background: var(--color-nav);
        padding: 20px;
        border-radius: 15px;
        border: 3px var(--color-borde-tareas);
        margin-top: 30px;
        margin-bottom: 30px;
        color: white;
    }

    #formListaTareas {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
    }

    #infoTareas {
        flex: 1;
        padding: 10px;
        border-radius: 5px;
        border: 1px var(--color-borde-tareas);
        background: var(--color-texto-introduccion-tareas);
        color: rgb(255, 255, 255);
        
    }
    #busquedaTareas{
        flex: 1;
        padding: 10px;
        border-radius: 5px;
        border: 1px var(--color-borde-tareas);
        background: var(--color-texto-introduccion-tareas);
        color: rgb(255, 255, 255);
        width: 50%;

    }

    #botonAñadirTarea {
        padding: 10px 20px;
        background-color: var(--color-boton-añadir-tarea);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        
    }

    #botonAñadirTarea:hover {
        background-color: var(--color-boton-añadir-tarea-hover);
    }

    #listaTareas {
        margin-top: 5px;
        list-style: none;
        padding: 0;
    }

    .objetoTarea {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--color-fondo-tareas-añadidas);
        padding: 12px;
        margin-bottom: 8px;
        border-radius: 8px;
        animation: fadeIn 0.4s ease;
    }

    .botonEliminar{
        padding: 10px 20px;
        background-color: var(--color-boton-añadir-tarea);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .botonEliminar:hover{
        background-color: red;

    }

    input::placeholder {
        color: var(--color-placeholder); 
        opacity: 1;     
        font-style: italic; 
    }
    .btnOscuro::before{
        content: "Modo oscuro🌙";
    }
    .dark .btnOscuro::before{
        content: "Modo claro☀️";
    }
}

