:root{
    --color-base: #378cc5;
    --color-destenido: #ffffff;
    --color-boton-sombra:#0f3650;
    --color-footer:#83abf7;
    --color-fondo:rgba(67, 66, 68, 0.2);
    --fuente-texto-titulos:italic;
    --fuente-texto:'Times New Roman', Times, serif;
    --color-borde-tareas:solid #040353;

}
@media (max-width: 1000px) {
    #diosesOlimpoPrincipales {
        flex-direction: column;
        align-items: center;
    }
    .infoOlimpo{
        flex: 0 0 100%; 
        width: 100%;
        margin-top: 20px;
        
        margin-bottom: 20px;
        justify-content: center;
        text-align: center;   
        background: rgba(27, 26, 27, 0.2);
        border-radius: 20px;
        padding: 20px;
    }
    aside{
        flex: 0 0 100%; 
        grid-template-columns: repeat(2, 50%);
        width: 100%;
    }


}
head{
    margin: auto;
    
}
body{
    background: linear-gradient(to bottom,var(--color-base), var(--color-destenido));
    
}

#diosesOlimpoPrincipales{
    display: flex;
    align-items:flex-start;

    
}

.infoOlimpo{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;   
    background: rgba(27, 26, 27, 0.2);
    border-radius: 20px;
    padding: 20px;
    max-width: 100%;
    min-width: 60%;
}
.infoOlimpo.mostrar {
    right: 0;           /* Vuelve a su sitio */
    opacity: 1;         /* Se vuelve visible */
    visibility: visible;
}



aside{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    height: 80%;
    grid-template-columns: repeat(4,1fr);
    justify-content:space-between; 
    position: relative;
    
    
}

nav{
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(imagenes/olas.png);
    max-height: 20%;
}
footer{
    background-color:var(--color-footer) ;
    text-align: left;
    justify-content: flex-start;
}


#sectionInfoOlimpo{
    display:block;
}

#sectionZeus{
    display:none;
}

#sectionHera{
    display:none;
}

#sectionPoseidon{
    display:none;
}

#sectionApolo{
    display:none;
}

#sectionDemeter{
    display:none;
}

#sectionArtemisa{
    display:none;
}

#sectionAres{
    display:none;
}

#sectionHermes{
    display:none;
}

#sectionAtenea{
    display:none;
}

#sectionAfrodita{
    display:none;
}

#sectionHefesto{
    display:none;
}

#sectionHestia{
    display:none;
}

.imagenSection{
    max-height: 500px;
    max-width: 60%;
}


.textoDefault{
    font-family: var(--fuente-texto);
}

.titulo{
    text-align: center;
    font-style: var(--fuente-texto-titulos);
}


/*Botones*/

.botonesNav{
    background: linear-gradient(to right, var(--color-base), var(--color-destenido));
    padding: 12px 24px;
    border: 0;
    border-radius: 8px; 
    margin: 20px;

}

.botonesNav:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px var(--color-boton-sombra);
}

.botonesNav:active {
    transform: translateY(+2px);
}




.botonesAside{
    max-height: 90%;
    height:auto;
    max-width:fit-content;
    border-radius: 1px;
    border: 0;
    background-color: transparent;
    object-fit: contain;
}

.imagenesAside{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

.botonesAside :hover{
    transform: translateY(-20px);
    transition: all 0.7s ease;
    border-radius: 50%;
    border: 2px solid #000000; 
    
}

.imagenesAside{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

#imgPanteon2{
    max-width: 60%;
}

.imgFooter{
    max-height: 30px;
}






/* Lista de tareas */

.registroTareas {
    background: rgba(13, 51, 94, 0.6);
    padding: 20px;
    border-radius: 15px;
    border: 3px var(--color-borde-tareas);
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

#formListaTareas {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#infoTareas {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px var(--color-borde-tareas);
    background: rgba(116, 181, 235, 0.1);
    color: rgb(255, 255, 255);
    
}
#busquedaTareas{
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px var(--color-borde-tareas);
    background: rgba(116, 181, 235, 0.1);
    color: rgb(255, 255, 255);
    width: 50%;

}

#botonAñadirTarea {
    padding: 10px 20px;
    background-color: #441cd1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

#botonAñadirTarea:hover {
    background-color: #06213f;
}

#listaTareas {
    list-style: none;
    padding: 0;
}

.objetoTarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(67, 148, 223, 0.2);
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 8px;
    animation: fadeIn 0.4s ease;
}

.botonEliminar{
    padding: 10px 20px;
    background-color: #441cd1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botonEliminar:hover{
    background-color: red;

}

input::placeholder {
    color: #000000; /* Aquí pones el color que quieras */
    opacity: 1;     /* Importante: Firefox le baja la opacidad por defecto */
    font-style: italic; /* Opcional: le da un toque más elegante */
}